<!--[if IE]><script src="#{gulpSettings.FOLDERS.CLIENT.CONTENT.VENDOR}/ie_polyfills.js"><![endif]-->
include _common.scripts.base.include.jade
script(src='#{gulpSettings.FOLDERS.CLIENT.CONTENT.VENDOR}/angular2.js')
