<!--[if IE]><script src="#{gulpConfig.FOLDERS.CLIENT.CONTENT.VENDOR}/ie_polyfills.js"><![endif]-->
include _common.scripts.base.include.jade
script(src='#{gulpConfig.FOLDERS.CLIENT.CONTENT.VENDOR}/angular2.js')
