html
    head
        base(href="/")
        title #{gulpConfig.INFO.TITLE}
        meta(name='description', content='#{gulpConfig.INFO.DESCRIPTION}')
        meta(name='keywords', content='#{gulpConfig.INFO.KEYWORDS}')
        meta(name='robots', content='all')

        include ./_common.meta.include.jade
        include ./_common.styles.include.jade
        include ./_common.scripts.app.include.jade

        script.
            System.config({
                packages: {
                    app: {
                        format: 'register',
                        defaultExtension: 'js'
                    }
                }
            });
            System.import('#{gulpConfig.FOLDERS.CLIENT.CONTENT.APP}/app.init')
                    .then(null, console.error.bind(console));
    body
        app Loading...
